
@import "fonts.scss";


body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    min-width: 400px;
}
.container {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    transition:  left 0.4s ease-in-out;
    display: flex;
    flex-wrap: wrap;

}
.open-sidebar {
    left: 210px;
}
#container__sidebar-toggle {
    border-radius: 3px;
    display: none;
    position: relative;
    padding: 10px 7px;
    float: left;
    z-index: 100;
    & .bar {
      display: block;
      width: 30px;
      margin-bottom: 3px;
      height: 4px;
      background-color: #005494;
      border-radius: 1px;
    }
     & .bar:last-child {
      margin-bottom: 0;
    }
}
.sidebar {
    
    background: #005494;
    width: 210px;
    height: 100vh;
    box-sizing: border-box;
    padding-left: 23px;
    padding-top: 16px;
    position: fixed;
    z-index: 1000;
    padding-top: 45px;
   
}
.sidebar__social {
  margin-bottom: 55px;
  display: block;
}
.sidebar__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 45vh;
}
.sidebar__item {
  margin: 0;
  margin-bottom: 30px;
  position: relative;
  a {
  padding: 5px 0px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  transition: 0.5s ease;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
    top: 5px;
    right: 0;
    border-bottom: 2px solid white;
    transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
    }
    &:hover:after{
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;
    } 
  @supports (-ms-ime-align:auto) {
    & {
       transition: 0.3;
       &:hover {
        text-decoration: underline;
      }
       &:after, &:before {
        display: none;
       } 
    }
  } 
  }
}
.sidebar__phone {
  position: relative;
  &:before{
    content: "";
    width: 68px;
    height: 1px;
    position: absolute;
    background-color: #81aaca;
    top: -15px; 
  }
  a {
    display: block;
  }
}
.sidebar__phone-hotline {
  color: #84b6dd;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  padding-bottom: 13px; 
}
.sidebar__phone-number {
  color: #fff;
  font-family: "Open Sans" , sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}
.main-content {
    width: calc(100% - 210px);
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin-left: 210px; 
}




.mini-header {
  min-height: 40px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
  padding-left: 25px;
}
.mini-header__bausch-logo {
  margin-right: 21px;
  padding-right: 21px;
  border-right: 1px solid #4282ad;
  cursor: pointer;
}
.mini-header__valeant-logo {
  cursor: pointer;
}
.mini-header__question {
  flex-grow: 1;
  position: relative;
  
  a {
    float: right;
    color: #005494;
    font-family: "Open Sans" , sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    &:before {
      content: "";
      width: 7em;
      height: 2px;
      background-color: #bfd4e4;
      position: absolute;
      bottom: 0px;
    }
    &:after {
      content: "";
      width: 21px;
      height: 20px;
      background: url("../img/question.png") no-repeat;
      position: absolute;
      top: 4px;
      right: 190px;
    }
  }
}
.squares {
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 40px;);
  & > div {
    width: 50%;
    min-height: 418px;
    p {
      color: #ffffff;
    font-family: "Open Sans" , sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.92px;
    position: absolute;
    top: 10%;
    left: 5%;
    }
  }
}
/* EYE ANIMATION */
#lid {
      animation: blink 2.4s infinite;
      animation-delay: 0.2s;
    }
    #eye {
      animation: squeeze 2.4s infinite;
      animation-delay: 0.2s;
    }

@keyframes blink {
  90% {
    transform: none;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(15px) scaleY(0)
  }
  100% {
    animation-timing-function: ease-out;
  }
}
@keyframes squeeze {
  90% {
    transform: none;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(3px) scaleY(0.8)
  }
  100% {
    animation-timing-function: ease-out;
  }
}
/*  END EYE ANIMATION   */


.squares__blue {
  background: #4282ad;
  position: relative;
  &:before {
      content: "";
      width: 200px;
      height: 200px;
      position: absolute;
      top: calc(50% - 90px);
      left: calc(50% - 100px); 
    }

  svg {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);

  }   
  &:hover {
    .squares__meds {
      opacity: 1;
    }
  }
 
}
.squares__meds  {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 80%;
  left: 5%;
  width: 90%;
  align-items: center;
  display: none;
  opacity: 0;
  transition:0.6s linear;
  display: flex;

  img {
    
    cursor: pointer;
  }
  
}

.squares__lutein {
  transition: 0.3s;
  &:hover {
   transform: scale(1.3);
  }
}
.squares__lutein-child {
  margin-right: 32px;
  transition: 0.3s;
  &:hover {
   transform: scale(1.3);
  }
}
.squares__meds-more {
  
  a {
    float: right;
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 20px;
    position: relative;
    color: white;
    border: 1px solid rgba(255,255,255,.4);
    background: none;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Open Sans", sans-serif;
  }
  a:before,
    a:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      box-sizing: border-box;
    }
    a:before {
      bottom: 0;
      left: 0;
      border-left: 1px solid white;
      border-top: 1px solid white;
      transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
    }
    a:after {
      top: 0;
      right: 0;
      border-right: 2px solid white;
      border-bottom: 2px solid white;
      transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
    }
    a:hover:before,
    a:hover:after{
      height: 100%;
      width: 100%;
      opacity: 1;
    }
    a:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
    a:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
    a:hover {background: rgba(255,255,255,.2);}
}
.squares__red {
  background: #cd5463;
  position: relative;
  svg {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
  }   
  &:hover {
    .squares__meds {
      opacity: 1;
      }
    }
}
.squares__red-meds-more {
  
  a {
    float: right;
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 20px;
    position: relative;
    color: white;
    border: 1px solid rgba(255,255,255,.4);
    background: none;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Open Sans", sans-serif;
  }
  a:before,
    a:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      box-sizing: border-box;
    }
    a:before {
      bottom: 0;
      left: 0;
      border-left: 1px solid white;
      border-top: 1px solid white;
      transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
    }
    a:after {
      top: 0;
      right: 0;
      border-right: 2px solid white;
      border-bottom: 2px solid white;
      transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
    }
    a:hover:before,
    a:hover:after{
      height: 100%;
      width: 100%;
      opacity: 1;
    }
    a:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
    a:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
    a:hover {background: rgba(255,255,255,.2);}
}
.squares__green {
  background: #2bb673;
  position: relative;
  svg {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
  }   
  &:hover {
    .squares__meds {
      opacity: 1;
      }
    }
}
.squares__green-more {
  position: absolute;
  top: 80%;
  right: 5%;
  display: none;
  a {
    float: right;
    border: 3px solid #fff;
    padding: 12px 26px;
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    &:hover {
      color: #4282ad;
      background-color: #fff;
    }
  }
}
.squares__yellow {
  background: #fbb040;
  position: relative;
  svg {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
  }   
  &:hover {
    .squares__meds {
      opacity: 1;
      }
    }
  
}
.squares__yellow-more {
  position: absolute;
  top: 80%;
  right: 5%;
  display: none;
  a {
    float: right;
    border: 3px solid #fff;
    padding: 12px 26px;
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    &:hover {
      color: #4282ad;
      background-color: #fff;
    }
  }
}
.cause {
  position: relative;
  width: 100%;
  input {
    display: none;
  }
}

.cause-slider__container {
  transform: translateX(0);
  transition: 0.5s;
  position: relative;
}


.cause-slide {
  
  background-color: #d1e4f3;
  display: flex;
  padding-top: 70px;
  padding-left: 60px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
  width: calc(100% - 210px);
  
}
.cause-slider__container {
  width: 400%;
  display: flex;
}
.cause-slide__left {
  width: 50%;
}
.cause-slide__right {
  position: relative;
  width: 50%;
  left: 10%;
}
.cause-slide__caption {
  margin: 0;
  margin-bottom: 45px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  width: 475px;
  margin-left: auto;
  padding-right: 80px;

}
.cause-slide__descr {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  max-width: 700px;
  padding-left: 30px;
  padding-right: 20px;
  margin: 0;

}
.cause-slide__reference {
  color: #005494;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  font-style: italic;
  line-height: 16px;
  position: relative;
  top: -20%;
  left: -20%;
  
}

.cause-slide__control {

    
    border: 3px solid #005494;
    border-radius: 50%;
    padding: 6px 12px;
    color: #005494;
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;
    position: relative;
    background-color: #d1e4f3;
    z-index: 10;
    cursor: pointer;
    position: absolute;
     
    &:after {
      content: "";
      width: 60px;
      height: 3px;
      background-color: #0f5e9c;
      position: absolute;
      top: 14px;
      left: 36px
          }
  }
.cause-slide__control-1 {
  top: 80%;
  left: calc(50% - 105px);
}
.cause-slide__control-2 {
  top: 80%;
  left: calc(50% - 35px);
}
.cause-slide__control-3 {
  top: 80%;
  left: calc(50% + 35px);
}
.cause-slide__control-4 {
  top: 80%;
  left: calc(50% + 105px);
  &:after {
    display: none;
  }
}
.cause-slide__control--active {
  color: #fff;
  border-color: #fff;
}
.cause-slider__control-arrow-left {
    position: absolute;
    height: 115px;
    width: 115px;
    background: #689cc3 url("../img/arrow.png") no-repeat 80% 50%;
    border-radius: 50%;
    left: -50px;
    top: 40%;
    cursor: pointer;
    z-index: 100;
    
  } 
.cause-slider__control-arrow-right {
    position: absolute;
    height: 115px;
    width: 115px;
    background: #005494 url("../img/arrow.png") no-repeat 80% 50%;
    border-radius: 50%;
    right: -50px;
    top: 40%;
    transform: rotate(180deg);
    cursor: pointer;
    z-index: 100;

  } 

.risks {
  background: #01345b url("../img/girl.png") no-repeat 20% 100%;
  min-height: 600px;
  padding-top: 55px;
}
.risks__caption  {
  margin: 0 auto;
  position: relative;
  width: 340px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 50px;
}
.risks__sub-caption {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
  margin-left: 50%;

}
.risks__descr {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  width: 450px;
  margin: 0;
  margin-left: 50%;
  margin-bottom: 30px;
}
.risks__btn-more {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  border: 3px solid #fff;
  border-radius: 30px;
  padding: 10px 26px;
  margin-left: calc(50% + 20px);
  transition: 0.3s ease;
  position: relative;
  display: block;
  width: 130px;
  &:hover {
    background-color: #fff;
    color: #005494;
    box-shadow: 0 15px 20px rgba(0,0,0,.4);
    transform: translateY(-7px);
  }
}
.risks__groups {
  width: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 170px; 

}
.risks__group {
    color: #005494;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 14.78px;
    background-color: #fff;
    padding: 7px 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.3s ease; 
    &:hover {
      background-color: #0c6db6;
      color: #fff;
    }
    &:nth-child(4) {
      margin-left: 40px;
    }
    &:nth-child(5) {
      margin-right: 60px;
    }
}
.risks__group--current {
  background-color: #0c6db6;
  color: #fff;
}
.test-and-map {
  display: flex;
  min-height: 600px;
}
.test {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 87px;
  box-sizing: border-box;
  box-shadow: 0px 10px 18px 1px rgba(0,0,0,0.10);
}
.test__caption {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
  margin-bottom: 35px;
  
}
.test__descr {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin: 0;
  margin-bottom: 70px;
}
.test__btn-pass {
  color: #005494;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 39.14px;
  text-decoration: none;
  border: 3px solid #005495;
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 246px;
  border-radius: 50px;
  margin: 0 auto;
  margin-bottom: 160px;
  transition: 0.3s ease;
  &:hover {
    background-color: #005495;
    color: #fff;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    transform: translateY(-7px);
  }
}
.test__reference {
  color: #005494;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  width: 342px;
  position: relative;
  margin-left: auto;
  &:before {
    content: "";
    width: 30px;
    height: 38px;
    background: url("../img/checkbox.png") no-repeat;
    position: absolute;
    left: -40px;
    top: -10px;
  }

}
.map {
  width: 50%;
  background: #4282ad url("../img/map.png") no-repeat 0 120px;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 87px;
  box-sizing: border-box;
  

   
}
.map__caption {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
  margin-bottom: 35px;
}
.map__descr {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 70px;
  width: 380px;

}
.map__btn-more {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 39.14px;
  text-decoration: none;
  border: 3px solid #fff;
  background-color: #4282ad;
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 246px;
  border-radius: 50px;
  margin: 0 auto;
  transition: 0.3s ease;
  &:hover {
    background-color: #fff;
    color: #005494;
    box-shadow: 0 15px 20px rgba(0,0,0,.4);
    transform: translateY(-7px);
  }
}
.footer {
  margin-left: 210px;
  width: 100%;
}
.warning {
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0px 10px 18px 1px rgba(0,0,0,0.15);
}
.warning__caption {
  color: #b6b6b6;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 50px;
  width: 1000px;
  margin: 0 auto;
  text-align: center;

}


.contacts {
  min-height: 150px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 55px; 
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts__valeant-logo {
  cursor: pointer;
}
.contacts__details {
    margin: 0;
    color: #929292;
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    width: 365px;
}
.contacts__itsoft {
  img {
    margin-right: 10px;
  }
  a {
    text-decoration: none;
    display: flex;
  } 
}
.contacts__itsoft-text {
  color: #929292;
  font-family: Ubuntu;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  span {
    text-decoration: underline;

  }
}
.question-popup {
  position: fixed;
  display: none;
  top: 120px;
  left: 50%;
  z-index: 200;
  background-color: #fff;
  width: 500px;
  padding: 50px 80px;
  margin-left: -230px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

}
.question-popup--show {
  display: block;
  animation: bounce 0.7s;
}
@keyframes bounce {
  0% { transform: translateY(-2000px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}



.question-popup__close {
  position: absolute;
  top: 0;
  right: -34px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;

}
.question-popup__close::before,
.question-popup__close::after
{
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;

  width: 25px;
  height: 5px;
  background-color: #d0d0d0;
  border-radius: 1px;
}
.question-popup__close::before {
  transform: rotate(45deg);
}
.question-popup__close::after {
  transform: rotate(-45deg);
}
.question-popup__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 42px;  
}

.question-popup__form input[type="text"],
.question-popup__form input[type="email"],
.question-popup__form input[type="tel"]
 {
  width: 236px;
  margin: 0;
  margin-top: 20px;
  padding: 10px 20px;
  padding-right: 40px; 

  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #000;
  border: 2px solid #d1e4f3;
  outline: none;
  background-color: #fff;
}
.question-popup__form input[type="text"] {
  margin-bottom: 20px;
}
.question-popup__form input:focus {
  border-color: #005494;
}

.question-popup__btn {
  color: #005494;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  border: 3px solid #d1e4f3;
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 246px;
  border-radius: 50px;
  margin: 0 auto;
  transition: 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: #005495;
    color: #fff;
    border-color: #005495;
  }

 }
 .question-popup__text {
  display: block;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 50px;
  resize: none;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #000;
  border: 2px solid #d1e4f3;
  outline: none;
  background-color: #fff;
  padding: 10px 20px; 
  &:focus {
  border-color: #005494;
}
 }


 .question-popup__form-error {
    color: red;
    text-align: left;
    font-size: 12px;
    display: block;
    margin-top: 3px;
    font-family: "Open Sans", sans-serif;
    visibility: hidden;
}
input:invalid:not(:placeholder-shown) + .question-popup__form-error {
    visibility: visible;
}




@media screen and (max-width: 1200px) {
  #container__sidebar-toggle {
    display: block;
    position: absolute;
  }
  .squares {
    width: 100%;
  }
  .mini-header {
    z-index: 10;
    width: 100%;
    padding-left: 70px;
  }
.mini-header__question {
  padding-right: 100px;
  a:after {
    right: 300px;
  }
}
.squares__lutein, .squares__lutein-child {
  display: none;
}
  

  .sidebar {
    left: -210px;
    top: 0;
    position: absolute;
  }
  .main-content {
    margin-left: 0;
    width: 100%;
  }

  .cause-slide {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  
  .cause-slide__caption {
    margin: auto;
    margin-bottom: 50px;
    position: relative;
    left: -5%;
  }
  .cause-slide__descr {
    width: 600px;
    font-size: 18px;
    margin: auto;
    position: relative;
    left: 5%; 
    margin-bottom: 20px;
  }
  .cause-slide__left {
    width: 100%;
  }
  .cause-slide__right {
    width: 100%;
    img {
      margin-left: calc(50% - 300px);
    } 
  }
  .cause-slide__reference {
    top: 65%;
    left: 15%;
    position: absolute;
  }
  .cause-slide__control-1 {
  top: 87%;
  left: calc(50% - 105px);
  }
  .cause-slide__control-2 {
    top: 87%;
    left: calc(50% - 35px);
  }
  .cause-slide__control-3 {
    top: 87%;
    left: calc(50% + 35px);
  }
  .cause-slide__control-4 {
    top: 87%;
    left: calc(50% + 105px);
    &:after {
      display: none;
    }
  }
  .risks {
    min-height: 500px;
  }
  .risks__caption {
    font-size: 38px;

  }
  .risks__sub-caption {
    margin-left: 45%;
  }
 
  .risks__descr {
    width: 400px;
    margin-left: 45%;
    margin-bottom: 50px;
  }
  .risks__groups {
    margin-top: 130px;
    padding-bottom: 50px;
  } 
 .test-and-map {
  flex-direction: column;
 }
  .test {
    width: 100%;
    height: auto;
    padding-left: 15%; 
  }
  .test__reference {
    margin-bottom: 30px;
  }
  .test__btn-pass {
    margin-bottom: 120px;
  }
  .test__descr {
    width: 400px;
  }
  .map {
    width: 100%;
    min-height: 570px;
    background: #4282ad url("../img/map.png") no-repeat 0 -50px;
    background-size: cover;
    padding-left: 15%;
  }
  .map__btn-more {
    margin-top: 100px;

  }
  .warning__caption {
    font-size: 30px;
    width: 650px;
  }
  .footer {
    margin-left: 0;
  }
  .contacts__wrapper {
    flex-wrap: wrap;
    img {
      order: 1;
    }
    p {
      order: 3;
      width: 400px;
      margin-top: 20px;
    }
    div {
      order: 2;
      width: 50%;
      a {
        width: 200px;
        margin-left: auto;
      }

    }

  }
  .question-popup {
    width: 350px;
    top: 80px;
  }
  
  
  
}

@media screen and (max-width: 768px) {
  .mini-header__bausch-logo {
    display: none;
  }
  .mini-header__valeant-logo {
    display: none;
  }
  .squares {
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    & > div {
      width: 100%;
    }
  }
  .cause-slide__caption {
    font-size: 30px;
    width: 300px;
    margin-bottom: 10px;
  }
  .cause-slide__descr {
    font-size: 14px;
    width: 300px;
  }

  .cause-slide__right{
    img {
      width: 318px;
      height: 257px;
      position: relative;
      left: 10%;
    }
  }
.cause-slide__reference {
    top: 65%;
    left: 10%;
    position: absolute;
    background-color: #fff;
    padding: 5px;
  }

  .risks {
  background: #01345b;
  min-height: 500px;
  padding-top: 55px;
  }
  .risks__caption {
    font-size: 30px;
    width: 230px;
  }
  .risks__sub-caption {
    font-size: 20px;
    margin-left: 10%;

  }
  .risks__descr {
    margin-left: 10%;
      }
  .risks__btn-more {
    margin-left: 10%;
  }
  .risks__groups {
    justify-content: space-around;
    width: 340px;
    margin-top: 80px;
    span:nth-child(4) {
      margin-left: auto;
      margin-right: auto;
    }
    span:nth-child(5) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .test__caption {
    width: 290px;
    margin-right: auto;
    margin-left: auto;
  }
  .test__descr {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
  .map {
    padding-top: 30px;
    min-height: 350px;
  }
  .map__caption {
    font-size: 45px;
    margin-left: 20%;
  }
  .map__descr {
    width: 250px;
    margin-left: 10%;
    margin-bottom: 50px;
    margin-left: 20%;
  }
  .map__btn-more {
    margin-top: 20px;
  }
  .warning__caption {
    font-size: 20px;
    width: 350px;
  }
  .question-popup {
    width: 250px;
    top: 80px;
  }
  .question-popup__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 25px;  
}

.question-popup__form input[type="text"],
.question-popup__form input[type="email"],
.question-popup__form input[type="tel"]
 {
  width: 60%;
  margin: 0;
  margin-top: 5px;
  padding: 5px 10px;
  padding-right: 40px; 

  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #000;
  border: 2px solid #d1e4f3;
  outline: none;
  background-color: #fff;
}
.question-popup__form input[type="text"] {
  margin-bottom: 20px;
}
.question-popup__form input:focus {
  border-color: #005494;
}

.question-popup__btn {
  color: #005494;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  border: 3px solid #d1e4f3;
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 246px;
  border-radius: 50px;
  margin: 0 auto;
  &:hover {
    background-color: #005495;
    color: #fff;
    border-color: #005495;
  }

 }
 .question-popup__text {
  
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 12x;
  line-height: 16px;
  padding: 10px 20px; 
  &:focus {
  border-color: #005494;
}
 }

}
