.aside-nav {
	width: 218px;
	background-color: #fff;
	border-radius: 5px;
	padding-left: 25px;
	padding-bottom: 20px;
	margin-right: 22px;
	position: relative;
	top: -13px;
}
.aside-nav__caption {
	color: #4b4b4b;
	font-family: "Arial";
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 26px;
}
.aside-nav__item {
	display: block;
	margin-bottom: 13px;
	color: #8a8a8a;
	font-family: "Arial";
	font-size: 16px;
	font-weight: 400;
	text-decoration: underline;
	line-height: 21px;
	&:hover {
		color: #ec6334;
	}
}