.price-header {
	min-height: 150px;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; 
}
.price-header__logo {
	margin-top: 86px;
	margin-left: 25px;
}
.price-header__price-calc {
	color: #f36240;
	font-size: 23px;
	font-weight: 400;
	text-decoration: underline;
	font-variant: small-caps;
	padding-top: 98px;
	margin-left: 45px;

}
.price-header__phone-number {
	color: #484745;
	font-family: "Arial MT";
	font-size: 31px;
	font-weight: 400;
	
}
.price-header__phone {
	position: relative;
	margin-right: 25px;
	margin-top: 90px;
}
.price-header__phone-schedule {
	right: 15px;
	top: -18px;
	position: absolute;
}