.product-reviews__caption {
	color: #484848;
	font-family: "Arial";
	font-size: 26px;
	font-weight: 400;
	margin-left: 265px;
	margin-top: 36px;
}
.product-reviews {
	display: flex;
	flex-wrap: wrap;
}
.product-reviews__more {
	margin-top: 45px;
	margin-left: 237px;
	color: #eb5825;
	font-family: "Arial";
	font-size: 16px;
	font-weight: 400;

}
.product-reviews__review {
	margin-left: 265px;
	background: #fff;
	padding-left: 27px;
	padding-top: 39px;
	padding-right: 78px;
	padding-bottom: 52px;
	border-radius: 5px;
	img {
		margin-top: 10px;
	}

}
.product-reviews__review-author {
	color: #484848;
	font-family: "Arial";
	font-weight: 400;
	font-size: 16px;
	letter-spacing: -0.8px;
	margin-bottom: 5px;
}
.product-reviews__review-author-about {
	font-family: "Arial";
	font-weight: 400;
	color: #8a8a8a;
	font-size: 14px;
	span {
		display: block;
	}

}
.product-reviews__review-text {
	color: #484848;
	font-family: "Arial";
	font-size: 14px;
	font-weight: 400;
}
.product-reviews__review-expand {
	color: #eb5825;
	font-family: "Arial";
	font-size: 16px;
	font-weight: 400;
	display: block;
	margin-bottom: 35px;
	position: relative;
	padding-left: 20px;
	background: url("../img/review-arrow.png") no-repeat  2px 3px;
	span {
		border-bottom: dashed #eb5825 1px;
	}
}
.product-reviews__review-send {
	padding: 15px 25px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px; 
}
