.price-page {
  background-color: #e1f0f8;
  font-family: "Arial";
  padding-bottom: 93px; }

.price-page__wrapper {
  margin: 0 auto;
  width: 1145px; }

.price-page__caption {
  color: #4b4b4b;
  font-family: "Arial";
  font-size: 64px;
  font-weight: 400;
  margin-top: 35px;
  margin-bottom: 5px; }

.price-page__caption-descr {
  color: #4b4b4b;
  font-family: "Arial";
  font-size: 26px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 31px; }

.price-page-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.price-header {
  min-height: 150px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.price-header__logo {
  margin-top: 86px;
  margin-left: 25px; }

.price-header__price-calc {
  color: #f36240;
  font-size: 23px;
  font-weight: 400;
  text-decoration: underline;
  font-variant: small-caps;
  padding-top: 98px;
  margin-left: 45px; }

.price-header__phone-number {
  color: #484745;
  font-family: "Arial MT";
  font-size: 31px;
  font-weight: 400; }

.price-header__phone {
  position: relative;
  margin-right: 25px;
  margin-top: 90px; }

.price-header__phone-schedule {
  right: 15px;
  top: -18px;
  position: absolute; }

.main-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px; }

.main-nav__item {
  -ms-flex-preferred-size: 213px;
  flex-basis: 213px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  height: 59px; }
  .main-nav__item a {
    text-decoration: none;
    vertical-align: middle;
    display: block;
    color: #5f6973;
    margin-top: 15px; }
  .main-nav__item:hover a {
    color: #ec6334; }
  .main-nav__item:not(:first-child) {
    border-left: solid 1px #5f6973; }

.main-nav__item--current {
  background-color: #7bc3d5;
  cursor: auto; }
  .main-nav__item--current a {
    color: #fff; }
  .main-nav__item--current:hover a {
    color: #fff; }

.aside-nav {
  width: 218px;
  background-color: #fff;
  border-radius: 5px;
  padding-left: 25px;
  padding-bottom: 20px;
  margin-right: 22px;
  position: relative;
  top: -13px; }

.aside-nav__caption {
  color: #4b4b4b;
  font-family: "Arial";
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 26px; }

.aside-nav__item {
  display: block;
  margin-bottom: 13px;
  color: #8a8a8a;
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  line-height: 21px; }
  .aside-nav__item:hover {
    color: #ec6334; }

.product {
  background-color: #fff;
  border-radius: 5px;
  width: 854px;
  padding-left: 26px;
  padding-top: 28px;
  padding-bottom: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.product__img {
  width: 200px;
  margin-left: 62px;
  margin-right: 90px;
  position: relative; }

.product__img-label {
  position: absolute;
  color: #a6a6a6;
  font-family: "Arial";
  font-size: 18px;
  font-weight: 400;
  bottom: -15px;
  right: 25px; }

.product__caption {
  color: #484848;
  font-family: "Arial";
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 32px; }

.product__buy {
  width: 475px; }

.product__buy-features {
  color: #484848;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding-left: 22px; }
  .product__buy-features li {
    margin-bottom: 10px;
    list-style: none;
    position: relative; }
    .product__buy-features li::before {
      background-color: black;
      border: 3px solid #eb5825;
      border-radius: 50%;
      content: "";
      position: absolute;
      left: -15px;
      top: 5px; }

.product__choose-color {
  margin-bottom: 65px; }

.product__choose-color-caption {
  color: #484848;
  font-family: "Arial";
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 22px; }

.product__choose-color-descr {
  color: 484848;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 44px;
  width: 350px; }

.product__colorpicker-check {
  position: absolute;
  top: -34px;
  left: 15px;
  display: none; }

.product__colorpicker label {
  position: relative;
  cursor: pointer; }
  .product__colorpicker label input {
    display: none; }
  .product__colorpicker label input:checked + .product__colorpicker-check {
    display: block; }

.product__buy-btn {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 13px 40px;
  font-weight: 400; }

.product__buy-help {
  display: block;
  margin-top: 20px;
  color: #8a8a8a;
  font-family: "Arial MT";
  font-size: 14px;
  font-weight: 400; }

.product-about {
  background-color: #fff;
  width: 786px;
  margin-left: auto;
  margin-top: 22px;
  padding-left: 30px;
  padding-right: 64px;
  padding-bottom: 50px;
  border-radius: 5px; }

.product-about__lamination-caption {
  color: #484848;
  font-family: "Arial";
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 15px; }

.product-about__lamination-descr {
  color: #484848;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  padding-left: 100px;
  padding-right: 10px;
  margin-bottom: 30px; }

.product-about__lamination {
  background: url("../img/lamination1.png") no-repeat 0% 50px, url("../img/lamination2.png") no-repeat 0% 88%; }

.product-about__process-caption {
  color: #484848;
  font-family: "Arial";
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 30px; }

.product-about__process-descr {
  color: #484848;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  padding-left: 50px;
  position: relative; }

.product-about__process-descr-1:before {
  content: "1";
  width: 25px;
  height: 25px;
  color: #383838;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #383838;
  position: absolute;
  top: 5px;
  left: 5px; }

.product-about__process-descr-2:before {
  content: "2";
  width: 25px;
  height: 25px;
  color: #383838;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #383838;
  position: absolute;
  top: 10px;
  left: 5px; }

.product-about__process-descr-3:before {
  content: "3";
  width: 25px;
  height: 25px;
  color: #383838;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #383838;
  position: absolute;
  top: 5px;
  left: 5px; }

.product-reviews__caption {
  color: #484848;
  font-family: "Arial";
  font-size: 26px;
  font-weight: 400;
  margin-left: 265px;
  margin-top: 36px; }

.product-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.product-reviews__more {
  margin-top: 45px;
  margin-left: 237px;
  color: #eb5825;
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400; }

.product-reviews__review {
  margin-left: 265px;
  background: #fff;
  padding-left: 27px;
  padding-top: 39px;
  padding-right: 78px;
  padding-bottom: 52px;
  border-radius: 5px; }
  .product-reviews__review img {
    margin-top: 10px; }

.product-reviews__review-author {
  color: #484848;
  font-family: "Arial";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.8px;
  margin-bottom: 5px; }

.product-reviews__review-author-about {
  font-family: "Arial";
  font-weight: 400;
  color: #8a8a8a;
  font-size: 14px; }
  .product-reviews__review-author-about span {
    display: block; }

.product-reviews__review-text {
  color: #484848;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400; }

.product-reviews__review-expand {
  color: #eb5825;
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-bottom: 35px;
  position: relative;
  padding-left: 20px;
  background: url("../img/review-arrow.png") no-repeat 2px 3px; }
  .product-reviews__review-expand span {
    border-bottom: dashed #eb5825 1px; }

.product-reviews__review-send {
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }

.btn {
  background-color: #eb5825;
  border-radius: 5px;
  color: #fff;
  text-decoration: none; }
